@model KinhDoanhThuCung.Models.KHACHHANG

@{
    ViewBag.Title = "Chitietkhachhang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="padding-top: 40px; color: red; text-align: center">THÔNG TIN CHI TIẾT KHÁCH HÀNG</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ Tên:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOTEN)
        </dd>

        <dt>
            Tài khoảng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAIKHOAN)
        </dd>

        <dt>
            Mật khẩu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATKHAU)
        </dd>

        <dt>
            Giới tính:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIOITINH)
        </dd>

        <dt>
            Ngày sinh:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYSINH)
        </dd>

        <dt>
            Địa chỉ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Chứng minh nhân dân:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMND)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("TRỞ VỀ", "KhachHang")
</p>
