@using KinhDoanhThuCung.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<KinhDoanhThuCung.Models.HOADON>

@{
    ViewBag.Title = "HoaDon";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="padding-top:40px;color:red; text-align: center">THÔNG TIN HÓA ĐƠN</h2>


<table class="table" border="1" >
    <tr>
        <th style="width:200px">Mã hóa đơn</th>
        <th style="width:200px">Ngày lập</th>
        <th style="width:200px">Mã khách hàng</th>
        <th style="width:200px">Mã khuyến mãi</th>
        <th style="width:200px"></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MAHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGAYLAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAKM)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.MAHD }) |*@
                @Html.ActionLink("Chi tiết", "Chitiethoadon", new { id = item.MAHD }) 
                @*@Html.ActionLink("Delete", "Delete", new { id = item.MAHD })*@
           </td>
        </tr>
    }

</table>
<p style="text-align:center">Trang @(Model.PageCount<Model.PageNumber? 0:Model.PageNumber)/@Model.PageCount</p>
<div class="MenuTrang" style="text-align:center">
    @Html.PagedListPager(Model, page => Url.Action("HoaDon", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #333;
    }


</style>