
@using KinhDoanhThuCung.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<KinhDoanhThuCung.Models.NCCGIONG>
@{
    ViewBag.Title = "Nhacungcap";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="padding-top:40px;color:red; text-align: center">QUẢN LÝ NHÀ CUNG CẤP</h2>

<p>
    @Html.ActionLink("THÊM MỚI", "Themmoincc")
</p>
<table class="table" border="1">
    <tr>
        <th style="width:200px">Mã nhà cung cấp</th>
        <th style="width:200px">Tên nhà cung cấp</th>
        <th style="width:200px">Địa chỉ</th>
        <th style="width:200px">Số điện thoại</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MANCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIACHI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Suancc", new { id = item.MANCC }) |
                @Html.ActionLink("Chi tiết", "Chitietncc", new { id = item.MANCC }) |
                @Html.ActionLink("Xóa", "Xoancc", new { id = item.MANCC })
            </td>
        </tr>
    }

</table>
<p style="text-align:center">Trang @(Model.PageCount<Model.PageNumber? 0:Model.PageNumber)/@Model.PageCount</p>
<div class="MenuTrang" style="text-align:center">
    @Html.PagedListPager(Model, page => Url.Action("Nhacungcap", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #333;
    }
</style>
