@model KinhDoanhThuCung.Models.GIONG

@{
    ViewBag.Title = "Suagiong";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2  style="padding-top: 40px; color: red; text-align: center">SỬA GIỐNG</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MAGIONG)
    <div class="form-group">
        @Html.LabelFor(model => model.MAGIONG, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div style="font:18px;padding:5px 0 0 5px">@Model.MAGIONG</div>
            @*@Html.EditorFor(model => model.MAGIONG, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MAGIONG, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MALOAI, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MALOAI")
            @*@Html.EditorFor(model => model.MALOAI, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MALOAI, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TENGIONG, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TENGIONG, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TENGIONG, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MOTAG, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MOTAG, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MOTAG, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("TRỞ VỀ", "Giong")
</div>
