@model KinhDoanhThuCung.Models.THUCUNG

@{
    ViewBag.Title = "Suathucung";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2  style="padding-top: 40px; color: red; text-align: center">ĐIỀU CHỈNH THÔNG TIN THÚ CƯNG</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.MATC)

    <div class="form-group">
        @Html.LabelFor(model => model.MATC, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          <div style="font:18px;padding:5px 0 0 5px" > @Model.MATC</div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MAGIONG, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MAGIONG")
            @*@Html.EditorFor(model => model.MAGIONG)
            @Html.ValidationMessageFor(model => model.MAGIONG)*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CANNANG,  new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CANNANG)
            @Html.ValidationMessageFor(model => model.CANNANG)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SLTON, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SLTON)
            @Html.ValidationMessageFor(model => model.SLTON)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DONGIA,  new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DONGIA)
            @Html.ValidationMessageFor(model => model.DONGIA)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MANCC, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MANCC")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ANH, new { @class = "control-label col-md-2" })
        <div class="col-md-10">Chọn ảnh mới
            <input type="file" name="fileuploat"/>
            <img src="@Url.Content("~/HinhThuCung/"+Model.ANH)" width="120px"/>
             @ViewBag.Thongbao
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("TRỞ VỀ", "ThuCUng")
</div>
