@model KinhDoanhThuCung.Models.GIONG

@{
    ViewBag.Title = "Themmoigiong";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2  style="padding-top: 40px; color: red; text-align: center">THÊM MỚI GIỐNG</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.MAGIONG, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MAGIONG, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MAGIONG, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MALOAI, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MALOAI")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TENGIONG, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TENGIONG, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TENGIONG, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MOTAG, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MOTAG, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MOTAG, "", new { @class = "text-danger" })
            @*<textarea name="Mota">Mô tả thông tin giống</textarea>*@
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="THÊM MỚI" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("VỀ TRANG QUẢN LÍ GIỐNG", "Giong")
</div>
