
@{
    ViewBag.Title = "Dangky";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}


<center>
    <table>
        <h2 style="text-align:center">ĐĂNG KÍ THÀNH VIÊN</h2> @ViewData["Loi9"]
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <tr style="height:40px">
                <td>Họ tên khách hàng:</td>
                <td>
                    @Html.TextBox("HotenKH")
                    @ViewData["Loi1"]
                </td>
            </tr>
            <tr style="height:40px">
                <td>Tên đăng nhập:</td>
                <td>
                    @Html.TextBox("TenDN")
                    @ViewData["Loi2"]

                </td>
            </tr>
            <tr style="height:40px">
                <td>Mật khẩu:</td>
                <td>
                    @Html.Password("Matkhau")
                    @ViewData["Loi3"]
                </td>
            </tr>
            <tr style="height:40px">
                <td>Mật khẩu nhập lại:</td>
                <td>
                    @Html.Password("Matkhaunhaplai")
                    @ViewData["Loi4"]
                    @ViewData["Loi7"]
                </td>
            </tr>
            <tr style="height:40px">
                <td>Giới tính:</td>
                <td>
                    <label>
                        @Html.RadioButton("Gioitinh", "Nam")Nam
                    </label>
                    <label>
                        @Html.RadioButton("Gioitinh", "Nữ")Nữ
                    </label>
                </td>
            </tr>

            <tr style="height:40px">
                <td>Ngày sinh:</td>
                <td>
                    <input type="date" name="Ngaysinh" />
                </td>
            </tr>
            <tr style="height:40px">
                <td>Đia chỉ:</td>
                <td>
                    @Html.TextBox("DiaChi")
                </td>
            </tr>
            <tr style="height:40px">
                <td>Điện thoại:</td>
                <td>
                    @Html.TextBox("Dienthoai")
                    @ViewData["Loi5"]
                    @ViewData["Loi8"]

                </td>

            </tr>
            <tr style="height:40px">
                <td>CMND:</td>
                <td>
                    @Html.TextBox("ChungMinh")
                    @ViewData["Loi6"]
                    @ViewData["Loi10"]
                </td>

            </tr>
            <tr style="height:40px">
                <td></td>
                <td>

                    <input type="submit" value="Đăng ký" />
                </td>
            </tr>
        }
    </table>
</center>
