
@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<h4 style="color:red; text-align:center">@ViewBag.Thongbao</h4>
<center>
    <table>
        <h1 style="text-align:center; font-weight:bold" >ĐĂNG NHẬP</h1>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <tr style="height:40px">
                <td>Tên đăng nhập:  </td>
                <td>
                    @Html.TextBox("TenDN")
                </td>
            </tr>
            <tr style="height:40px">
                <td align="">Mật khẩu:  </td>
                <td>
                    @Html.Password("Matkhau")
                </td>
            </tr>
            @ViewData["Loi1"]
            @ViewData["Loi2"]
            <tr style="height:40px">
                <td></td>
                <td>
                    <input style="background-color:#cac3c3;padding:5px;font-weight:bold" type="submit" value="Đăng nhập" />
                 
                </td>
            </tr>
            <tr style="height:40px">
                <td></td>
                <td>
                    <span>Bạn chưa có tài khoản?</span>
                    <a href="@Url.Action("Dangky","Nguoidung")"><input value="Đăng kí" type="button" /></a>
                </td>
            </tr>
        }
    </table>
</center>
